

.navig {
  list-style-type: none;
  text-align: center;
  li {
    display: inline;
  }
}

h1 {
  text-align: center;
  // font-family: 'Fascinate', cursive;
  background-color: #f5f0f6;
  padding: 2em;
}
.container2 {
  background-color: #ffbcd5;
  padding: 1em;

}
.icon {
  max-width: 100%;
}
